<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<!-- android meta -->
	<meta name="theme-color" content="#000000">
	<meta name="mobile-web-app-capable" content="yes">

	<!-- apple metas -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-title" content="vue-test">

	<title>vue-test</title>
</head>
<body>


	<script type="text/x-template" id="toggleButton">

		<!-- toggle-button component
		A click toggles "aria-pressed" and emits button (id, isPressed) data along a "toggle-button-pressed" event -->
		<button type="button" @click="handlePressed()" :aria-pressed="isPressed"><slot></slot></button>

	</script>



	<main id="app">


		<div class="fieldset">

			<toggle-button class="button button--toggle" v-for="toggle in toggleList" :pressed="toggle.pressed" :id="toggle.id" :key="toggle.id">{{toggle.name}}</toggle-button>

		</div>


		<pre><code>{{message}}</code></pre>


		<p>
			<!-- use router-link component for navigation. -->
			<!-- specify the link by passing the `to` prop. -->
			<!-- `<router-link>` will be rendered as an `<a>` tag by default -->
			<router-link to="/foo">Go to Foo</router-link>
			<router-link to="/bar">Go to Bar</router-link>
		</p>
		<!-- route outlet -->
		<!-- component matched by the route will render here -->
		<router-view></router-view>


	</main>


	<link rel="stylesheet" href="assets/css/test-1.css">

	<!-- vue and plugins -->
	<script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.0"></script>
	<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
	<script src="https://unpkg.com/vuex@2.3.1"></script>

	<script src="assets/js/test-1.js"></script>

</body></html>
