
html {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica, Arial, sans-serif;
	font-size: 100%;
}




.button {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica, Arial, sans-serif;
	font-size: 1rem;
	padding: .5em 1em;
	border: 1px dashed #ccc;
	margin: .5rem;
	border-radius: .3em;
	cursor: pointer;
}

.button[aria-pressed] {
	filter: invert(1);
}

.button:hover {
	border: 1px solid currentColor;
}

.button:focus {outline:0;}

.button--toggle {

}
